* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.2rem;
    border: none;
    background: white;
    font-size: 2rem;
}
form button {
    color: rgb(230, 142, 126);
    background: white;
    transition: all 0.3s ease;
}
form button:hover {
    background: rgb(230, 142, 126);
    color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.todo {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    font-size: 1.5rem;
}
.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
}
.complete-btn {
    background: rgb(73, 204, 73);
}
.todo-item {
    padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
    pointer-events: none;
}
