* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.2rem;
    border: none;
    background: white;
    font-size: 2rem;
}
form button {
    color: rgb(230, 142, 126);
    background: white;
    transition: all 0.3s ease;
}
form button:hover {
    background: rgb(230, 142, 126);
    color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.todo {
    background: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
